*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
   background-color: #091921; 
   color: white;
   font-family: 'Xanh Mono', monospace;
}

header{
    font-size: 2rem;

}

header,form {
    min-height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

form input,form button{
    padding: 0.5rem;
    font-size: 2rem;
    border: none;
    background : whites;
}

form button{
    color: #091921;
    background: white;
    cursor: pointer;
    transition: all 0.3s ease;
}

form button:hover{
   background : #091921;
   color: white;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.list{
    min-width: 30%;
    list-style-type: none;

}

.todo{
    margin: 0.5rem;
    background: white;
    color: black;
    font-size: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all 0.3s ease;
}

.todo li{
    flex: 1;
}

.delete-btn ,.complete-btn{
    background: #f83d36;
    color: #091921;
    border: none;
    padding: 1rem;
    cursor: pointer;
    font-size: 1rem;
}

.complete-btn{
    background: #1dd15c;
}

.fa-trash,.fa-check{
    pointer-events: none;
}

#tile1 {position: relative; 
    top: 50px
}

completed{
    text-decoration: line-through;
    opacity: 0.5;
}